<div class="home-banner">
  <div class="banner">
    <div class="line">
      <span>Wagon Cocktail</span>
    </div>
    <div class="line">
      <span id="best">the best cocktails</span>
    </div>

  </div>
</div>
<div class="container">
  <h1> All Cocktails</h1>

    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do  %>
    <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(https://d32miag6ta013h.cloudfront.net/master_cocktails/1348/en-ca/small/525x525_roman-cosmo-martini-cocktail.jpg"></div>
          <ul class="details">
            <% cocktail.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="description">
          <h1><%= cocktail.name %></h1>
          <p></p>
        </div>
      </div>
      <% end %>
<% end %>

</div>
